<footer class="footer">
    <div class="container-xxl">
        <div class="footer__wrap">
            <div class="footer__copy">
                <div class="footer__copy__top">
                    © 2021 Игровые сервисы <span>BUCKS.TRADE</span>
                </div>
                <div class="footer__copy__bot">
                    Микро описание проекта, или еще какой-то текст для копирайтов и подобного
                </div>
            </div>
        
        
            <div class="footer-menu">
                <div class="row">
                    <div class="footer-menu__first-col col-5 col-sm-12 col-lg-6">
                        <a href="">Личный кабинет</a>
                        <a href="">регистрация аккаунта</a>
                        <a href="">Поддержка</a>
                    </div>
                    <div class="col-7 col-sm-12 col-lg-6">
                        <a href="">Условия использования</a>
                        <a href="">Пользовательское соглашение</a>
                        <a href="">Использование куки</a>
                    </div>
                </div>
            </div>
        
        
            <div class="footer-partner">
                <img src="./img/partner.png">
            </div>
        </div>
    </div>
</footer>   