<header class="header" id="header">
    <div class="container-xxl">
        <div class="header__row">
            <div class="burger__menu" id="burger__menu">
                <div class="burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="mob-nav">
                    <ul>
                        <li>
                            <a href="">Партнерство</a>
                        </li>
                        <li>
                            <a href="">Помощь</a>
                        </li>
                        <li>
                            <div>Язык
                                <div class="lang-change">
                                    <div class="lang-change__active">
                                        <img src="./img/ru.png" width="20px" height="20px">
                                        <span class="v"></span>
                                    </div>
                                    <div class="lang-change__list">
                                        <a href="">
                                            <img src="./img/eng.png" width="20px" height="20px">
                                           EN
                                        </a>
                                        <a href="">
                                            <img src="./img/ru.png" width="20px" height="20px">
                                           RU
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="mon-nav__bot">
                        <div class="change-theme">
                            <button type="button" class="change-theme__light active" id="enable-light-theme-mob"></button>
                            <button type="button" class="change-theme__dark" id="eneble-dark-theme-mob"></button>
                        </div>

                        <div class="header__social">
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="icon-vk"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="icon-fb"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="icon-tg"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-auth">
                            <a href="" class="btn btn-grey">Вход</a>
                            <a href="" class="btn btn-green2">Регистрация</a>
                        </div>
                    </div>
                </nav>
            </div>
            
            <a href="" class="header__logo">
                <img src="./img/logo.png" class="light">
                <img src="./img/logo-d.png" class="dark">
            </a>

            <div class="change-theme">
                <button type="button" class="change-theme__light active" id="enable-light-theme"></button>
                <button type="button" class="change-theme__dark" id="eneble-dark-theme"></button>
            </div>
            <div class="header__row__right">
                <div class="header__social">
                    <ul>
                        <li>
                            <a href="">
                                <i class="icon-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-fb"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-tg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav class="header__nav">
                    <ul>
                        <li>
                            <a href="">
                                Партнерство
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Помощь
                                <span class="v"></span>
                            </a>
                            <ul class="level2">
                                <li>
                                    <a href="">Пункт 1</a>
                                </li>
                                <li>
                                    <a href="">Пункт 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header-auth">
                    <a href="" class="btn btn-grey">Вход</a>
                    <a href="" class="btn btn-green2">Регистрация</a>
                </div>
                <div class="lang-change">
                    <div class="lang-change__active">
                        <img src="./img/ru.png" width="29px" height="29px">
                        <span class="v"></span>
                    </div>
                    <div class="lang-change__list">
                        <a href="">
                            <img src="./img/eng.png" width="29px" height="29px">
                           EN
                        </a>
                        <a href="">
                            <img src="./img/ru.png" width="29px" height="29px">
                           RU
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

