<div class="content-page">
    <h1>Адена Lineage 2 (RU)</h1>
    <div class="inner">
        <div class="inner__top" id="inner__top">
            <div class="inner__sort">
                <a href="" class="inner__sort__item">
                    <span>390</span>
                    Адена
                </a>
                <a href="" class="inner__sort__item active">
                    <span>390</span>
                    Аккаунты
                </a>
                <a href="" class="inner__sort__item">
                    <span>390</span>
                    Предметы
                </a>
                <a href="" class="inner__sort__item">
                    <span>390</span>
                    Монеты
                </a>
                <a href="" class="inner__sort__item">
                    <span>390</span>
                    Прочее
                </a>
            </div>
            <form class="inner__search" id="inner__search">
                <input type="text" placeholder="Поиск по описанию">
                <button>
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <div class="inner-mob-btns">
            <a href="" class="btn btn-g mob-sale-acc">Продать аккаунты</a>
        </div>
        <div class="inner__bot__wrap">
            <button class="btn btn-g inner__bot__toggle" id="inner__bot__toggle">Фильтры</button>
            <div class="inner__bot" id="inner__bot">
                <div class="inner__select">
                    <div class="inner__select__item">
                        <select class="inner-select">
                            <option disabled selected>Сервер</option>
                            <option>Сервер1</option>
                            <option>Сервер2</option>
                        </select>
                    </div>
                    <div class="inner__select__item">
                        <select class="inner-select">
                            <option disabled selected>Расса</option>
                            <option>Расса2</option>
                            <option>Расса3</option>
                        </select>
                    </div>
                    <div class="inner__select__item">
                        <select class="inner-select">
                            <option disabled selected>Экипировка</option>
                            <option>Экипировка2</option>
                            <option>Экипировка3</option>
                        </select>
                    </div>
                </div>
                <div class="inner__mid">
                    <div class="inner__mid__item">
                        Уровень:
                        <div class="from-to">
                            <input type="number" placeholder="От">
                            <input type="number" placeholder="До">
                        </div>
                    </div>
                    <div class="inner__mid__item">
                        Только продавцы онлайн                    
                        <label class="checkbox-enable">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="inner__sale" id="inner__sale">
                    <a href="" class="btn btn-g">
                        Продать аккаунты
                    </a>
                </div>
            </div>
        </div>
        <div class="inner__list">
            <div class="inner__list__des">
                <div class="enner__list__head">
                    <div class="row">
                        <div class="enner__list__head-td col-2 col-xl-1 col-xxl-1">
                            Сервер
                        </div>
                        <div class="enner__list__head-td col-6 col-xl-7 col-xxl-8">
                            Описание
                        </div>
                        <div class="enner__list__head-td col-2 ">
                            Продавец
                        </div>
                        <div class="enner__list__head-td col-2 col-xxl-1">
                            Цена
                        </div>
                    </div>
                </div>
                <div class="enner__list__body" id="enner__list__body">
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                    <a href="" class="enner__list__item">
                        <div class="row align-items-center">
                            <div class="enner__list__body-td col-2 col-xl-1 col-xxl-1">
                                Sheyeed
                            </div>
                            <div class="enner__list__body-td col-6 col-xl-7 col-xxl-8">
                                <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                            </div>
                            <div class="enner__list__body-td col-2">
                                <div class="saler">
                                    <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                    <div class="saler__info">
                                        <div class="saler__name">Effort</div>
                                        <div class="saler__review">10 отзывов</div>
                                        <div class='saler__old'>На сайте 5 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="enner__list__body-td col-2 col-xxl-1">
                                <div class="price">
                                    59.790 RUB
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner__list__mob">
                <a href="" class="inner__list__mob__item">
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Сервер</div>
                        <div class="inner__list__mob__right">Sheyeed</div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Описание</div>
                        <div class="inner__list__mob__right">
                            <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Продавец</div>
                        <div class="inner__list__mob__right">
                            <div class="saler">
                                <div class="saler__name">Effort</div> 
                                <div class="saler__review">10 отзывов</div>
                            </div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Цена</div>
                        <div class="inner__list__mob__right">
                            <div class="price">59.790 RUB</div>
                        </div>
                    </div>
                </a>
                <a href="" class="inner__list__mob__item">
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Сервер</div>
                        <div class="inner__list__mob__right">Sheyeed</div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Описание</div>
                        <div class="inner__list__mob__right">
                            <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Продавец</div>
                        <div class="inner__list__mob__right">
                            <div class="saler">
                                <div class="saler__name">Effort</div> 
                                <div class="saler__review">10 отзывов</div>
                            </div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Цена</div>
                        <div class="inner__list__mob__right">
                            <div class="price">59.790 RUB</div>
                        </div>
                    </div>
                </a>
                <a href="" class="inner__list__mob__item">
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Сервер</div>
                        <div class="inner__list__mob__right">Sheyeed</div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Описание</div>
                        <div class="inner__list__mob__right">
                            <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Продавец</div>
                        <div class="inner__list__mob__right">
                            <div class="saler">
                                <div class="saler__name">Effort</div> 
                                <div class="saler__review">10 отзывов</div>
                            </div>
                        </div>
                    </div>
                    <div class="inner__list__mob__row">
                        <div class="inner__list__mob__left">Цена</div>
                        <div class="inner__list__mob__right">
                            <div class="price">59.790 RUB</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
