<div class="content-page">
    <div class="offers__top">
        <h1>Сообщения</h1>
        
    </div>
    <div class="offers__back">
        <a href="">‹ Главная страница</a>
    </div>
    
    <div class="mess">
        <div class="mess__left">
            <div class="mess__wrap" id="mess__wrap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mess__item">
                            <div class="mess__item__wrap">
                                <div class="mess__item__wrap__row">
                                    <div class="mess__item__img" style="background-image: url('./img/profile/avatar.jpg');"></div>
                                    <div class="mess__item__text">
                                        <div class="mess__item__name">Aeri Smith</div>
                                        <div class="mess__item__status">В сети</div>
                                    </div>
                                    <div class="mess__item__arr">
                                        ›
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mess__item active">
                            <div class="mess__item__wrap">
                                <div class="mess__item__wrap__row">
                                    <div class="mess__item__img" style="background-image: url('./img/profile/avatar.jpg');"></div>
                                    <div class="mess__item__text">
                                        <div class="mess__item__name">Aeri Smith</div>
                                        <div class="mess__item__status">В сети</div>
                                    </div>
                                    <div class="mess__item__arr">
                                       ›
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mess__item">
                            <div class="mess__item__wrap">
                                <div class="mess__item__wrap__row">
                                    <div class="mess__item__img" style="background-image: url('./img/profile/avatar.jpg');"></div>
                                    <div class="mess__item__text">
                                        <div class="mess__item__name">Aeri Smith</div>
                                        <div class="mess__item__status">В сети</div>
                                    </div>
                                    <div class="mess__item__arr">
                                       ›
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mess__item">
                            <div class="mess__item__wrap">
                                <div class="mess__item__wrap__row">
                                    <div class="mess__item__img" style="background-image: url('./img/profile/avatar.jpg');"></div>
                                    <div class="mess__item__text">
                                        <div class="mess__item__name">Aeri Smith</div>
                                        <div class="mess__item__status">В сети</div>
                                    </div>
                                    <div class="mess__item__arr">
                                       ›
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mess__item">
                            <div class="mess__item__wrap">
                                <div class="mess__item__wrap__row">
                                    <div class="mess__item__img" style="background-image: url('./img/profile/avatar.jpg');"></div>
                                    <div class="mess__item__text">
                                        <div class="mess__item__name">Aeri Smith</div>
                                        <div class="mess__item__status">В сети</div>
                                    </div>
                                    <div class="mess__item__arr">
                                       ›
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                <div class="swiper-button swiper-button-prev">‹</div>
                <div class="swiper-button swiper-button-next">›</div>
            </div>
        </div>
        <div class="mess__right">
            <div class="mess__list">
                <div class="mess__list__item">
                    <div class="mess__list__item__top">
                        <div class="name">GoldenMan</div>
                        <div class="data">5 июля в 18:35</div>
                    </div>
                    <div class="mess__list__item__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                    </div>
                </div>

                <div class="mess__list__item">
                    <div class="mess__list__item__top">
                        <div class="name">Вы</div>
                        <div class="data">5 июля в 18:35</div>
                    </div>
                    <div class="mess__list__item__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                    </div>
                </div>
                <div class="mess__list__item">
                    <div class="mess__list__item__top">
                        <div class="name">GoldenMan</div>
                        <div class="data">5 июля в 18:35</div>
                    </div>
                    <div class="mess__list__item__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                    </div>
                </div>

                <div class="mess__list__item">
                    <div class="mess__list__item__top">
                        <div class="name">Вы</div>
                        <div class="data">5 июля в 18:35</div>
                    </div>
                    <div class="mess__list__item__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
                    </div>
                </div>
            </div>
            <textarea placeholder="Напишите сообщения"></textarea>
            <div class="mess__right__bot">
                <button class="btn btn-g btn-after">Отправить ›</button>
            </div>
        </div>
    </div>
</div>

