<div class="content-page">
  <div class="offers__top">
    <h1>Мои покупки</h1>
  </div>
  <div class="offers__back">
      <a href="">‹ Главная страница</a>
  </div>
  <div class="my-orders">
      
      <div class="my-orders-wrap">
        <input class="input" placeholder="Номер заказа">
        <input class="input" placeholder="Продавцу">
       
        <select class="select">
          <option disabled selected>Статус</option>
          <option>Открыто</option>
          <option>Закрыто</option>
        </select>
      </div>
      <div class="inner__list">
          <div class="inner__list__des">
              <div class="enner__list__head">
                  <div class="row">
                      <div class="col-5 col-xl-6">
                        <div class="row">
                          <div class="enner__list__head-td col-3">
                            Номер заказа
                          </div>
                          <div class="enner__list__head-td col-9 text-align-center">
                            Описание
                          </div>
                        </div>
                      </div>
                      <div class="col-7 col-xl-6">
                        <div class="row">
                          <div class="enner__list__head-td col-3">
                            Продавец
                          </div>
                          <div class="enner__list__head-td col-3 text-align-center">
                            Сумма
                          </div>
                          <div class="enner__list__head-td col-3">
                            Дата создания
                          </div>
                          <div class="enner__list__head-td col-3 text-align-right">
                            Статус сделки
                          </div>
                        </div>
                      </div>
                      
                      
                  </div>
              </div>
              <div class="enner__list__body" id="enner__list__body">
                <a href="" class="enner__list__item">
                    <div class="row align-items-center">
                      <div class="col-5 col-xl-6">
                        <div class="row align-items-center">
                          <div class="enner__list__body-td col-3">
                            #123321123
                          </div>
                          <div class="enner__list__body-td col-9">
                              <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-7 col-xl-6">
                        <div class="row align-items-center">
                          <div class="enner__list__body-td col-3">
                            <div class="saler">
                                <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                                <div class="saler__info">
                                    <div class="saler__name">Effort</div>
                                    <div class="saler__review">10 отзывов</div>
                                    <div class='saler__old'>На сайте 5 лет</div>
                                </div>
                            </div>
                          </div>
                          <div class="enner__list__body-td col-3 text-align-center">
                              <div class="price">
                                  59.790 RUB
                              </div>
                              
                          </div>
                          <div class="enner__list__body-td col-3">
                            <div class="data">
                                27 ноября в 12:45
                            </div>
                          </div>
                          <div class="enner__list__body-td col-3 text-align-right">
                            <div class="status">
                                Закрыта
                            </div>
                          </div>
                        </div>
                      </div>  
                        
                    </div>
                </a>
                <a href="" class="enner__list__item">
                  <div class="row align-items-center">
                    <div class="col-5 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          #123321123
                        </div>
                        <div class="enner__list__body-td col-9">
                            <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          <div class="saler">
                              <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                              <div class="saler__info">
                                  <div class="saler__name">Effort</div>
                                  <div class="saler__review">10 отзывов</div>
                                  <div class='saler__old'>На сайте 5 лет</div>
                              </div>
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-center">
                            <div class="price">
                                59.790 RUB
                            </div>
                            
                        </div>
                        <div class="enner__list__body-td col-3">
                          <div class="data">
                              27 ноября в 12:45
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-right">
                          <div class="status">
                              Закрыта
                          </div>
                        </div>
                      </div>
                    </div>  
                      
                  </div>
                </a>
                <a href="" class="enner__list__item">
                  <div class="row align-items-center">
                    <div class="col-5 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          #123321123
                        </div>
                        <div class="enner__list__body-td col-9">
                            <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          <div class="saler">
                              <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                              <div class="saler__info">
                                  <div class="saler__name">Effort</div>
                                  <div class="saler__review">10 отзывов</div>
                                  <div class='saler__old'>На сайте 5 лет</div>
                              </div>
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-center">
                            <div class="price">
                                59.790 RUB
                            </div>
                            
                        </div>
                        <div class="enner__list__body-td col-3">
                          <div class="data">
                              27 ноября в 12:45
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-right">
                          <div class="status">
                              Закрыта
                          </div>
                        </div>
                      </div>
                    </div>  
                      
                  </div>
                </a>
                <a href="" class="enner__list__item">
                  <div class="row align-items-center">
                    <div class="col-5 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          #123321123
                        </div>
                        <div class="enner__list__body-td col-9">
                            <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          <div class="saler">
                              <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                              <div class="saler__info">
                                  <div class="saler__name">Effort</div>
                                  <div class="saler__review">10 отзывов</div>
                                  <div class='saler__old'>На сайте 5 лет</div>
                              </div>
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-center">
                            <div class="price">
                                59.790 RUB
                            </div>
                            
                        </div>
                        <div class="enner__list__body-td col-3">
                          <div class="data">
                              27 ноября в 12:45
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-right">
                          <div class="status">
                              Закрыта
                          </div>
                        </div>
                      </div>
                    </div>  
                      
                  </div>
                </a>
                <a href="" class="enner__list__item">
                  <div class="row align-items-center">
                    <div class="col-5 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          #123321123
                        </div>
                        <div class="enner__list__body-td col-9">
                            <div class="enner__list__body-des">Страж теней, 109 уровень, Темные эльфы, Одетый <span>(подробности в описании)</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7 col-xl-6">
                      <div class="row align-items-center">
                        <div class="enner__list__body-td col-3">
                          <div class="saler">
                              <div class="saler__img" style="background-image: url('./img/inner/saler.png');"></div>
                              <div class="saler__info">
                                  <div class="saler__name">Effort</div>
                                  <div class="saler__review">10 отзывов</div>
                                  <div class='saler__old'>На сайте 5 лет</div>
                              </div>
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-center">
                            <div class="price">
                                59.790 RUB
                            </div>
                            
                        </div>
                        <div class="enner__list__body-td col-3">
                          <div class="data">
                              27 ноября в 12:45
                          </div>
                        </div>
                        <div class="enner__list__body-td col-3 text-align-right">
                          <div class="status">
                              Закрыта
                          </div>
                        </div>
                      </div>
                    </div>  
                      
                  </div>
                </a>
              </div>
          </div>
          <div class="inner__list__mob">
            <a href="" class="inner__list__mob__item">
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Номер заказа</div>
                    <div class="inner__list__mob__right">#123321123</div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Описание</div>
                    <div class="inner__list__mob__right">
                        <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Продавец</div>
                    <div class="inner__list__mob__right">
                      <div class="saler">
                          <div class="saler__name">Effort</div> 
                          <div class="saler__review">10 отзывов</div>
                      </div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Сумма</div>
                    <div class="inner__list__mob__right">
                        <div class="price">59.790 RUB</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Дата создания</div>
                    <div class="inner__list__mob__right">
                      <div class="data">27 Ноября в 12:45</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Статус</div>
                    <div class="inner__list__mob__right">
                        <div class="status">Открыто</div>
                    </div>
                </div>
            </a>
            
            <a href="" class="inner__list__mob__item">
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Сервер</div>
                    <div class="inner__list__mob__right">Sheyeed</div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Описание</div>
                    <div class="inner__list__mob__right">
                        <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Наличие</div>
                    <div class="inner__list__mob__right">
                        280
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Цена</div>
                    <div class="inner__list__mob__right">
                        <div class="price">59.790 RUB</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Статус</div>
                    <div class="inner__list__mob__right">
                        <div class="status">Открыто</div>
                    </div>
                </div>
            </a>
        </div>
      </div>
  </div>
</div>
