<div class="content-page">
    <div class="offers__top">
        <h1>Ваши предложения</h1>
        <button type="button" class="btn btn-g btn-after" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить предложение ›</button>
    </div>
    <div class="offers__back">
        <a href="">‹ Главная страница</a>
    </div>
    <div class="offers__list">
        <div class="offers__des">
            <div class="offers__des__head">
                <div class="row">
                    <div class="col-2">
                        Сервес
                    </div>
                    <div class="col-4 col-xl-5">Описание</div>
                    <div class="col-2 text-center">Наличие</div>
                    <div class="col-2 text-center">Цена</div>
                    <div class="col-2 col-xl-1 text-right">Статус</div>
                </div>
            </div>
            <div class="offers__des__body">
                <a href="" class="offers__des__item">
                    <div class="row ">
                        <div class="col-2">
                            Elcardia + Esthus
                        </div>
                        <div class="col-4 col-xl-5">Страж теней, 109 уровень, Темные эльфы, Одетый </div>
                        <div class="col-2 text-center price">280</div>
                        <div class="col-2 text-center price">$5.790</div>
                        <div class="col-2 col-xl-1 text-right status">Открыто</div>
                    </div>
                </a>
                <div href="" class="offers__des__item not-active">
                    <div class="row ">
                        <div class="col-2">
                            Elcardia + Esthus
                        </div>
                        <div class="col-4 col-xl-5">Страж теней, 109 уровень, Темные эльфы, Одетый </div>
                        <div class="col-2 text-center price">280</div>
                        <div class="col-2 text-center price">$5.790</div>
                        <div class="col-2 col-xl-1 text-right status">закрыто</div>
                    </div>
                </div>
                <a href="" class="offers__des__item">
                    <div class="row ">
                        <div class="col-2">
                            Elcardia + Esthus
                        </div>
                        <div class="col-4 col-xl-5">Страж теней, 109 уровень, Темные эльфы, Одетый </div>
                        <div class="col-2 text-center price">280</div>
                        <div class="col-2 text-center price">$5.790</div>
                        <div class="col-2 col-xl-1 text-right status">Открыто</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="inner__list__mob">
            <a href="" class="inner__list__mob__item">
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Сервер</div>
                    <div class="inner__list__mob__right">Sheyeed</div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Описание</div>
                    <div class="inner__list__mob__right">
                        <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Наличие</div>
                    <div class="inner__list__mob__right">
                        280
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Цена</div>
                    <div class="inner__list__mob__right">
                        <div class="price">59.790 RUB</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Статус</div>
                    <div class="inner__list__mob__right">
                        <div class="status">Открыто</div>
                    </div>
                </div>
            </a>
            <div class="inner__list__mob__item not-active">
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Сервер</div>
                    <div class="inner__list__mob__right">Sheyeed</div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Описание</div>
                    <div class="inner__list__mob__right">
                        <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Наличие</div>
                    <div class="inner__list__mob__right">
                        280
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Цена</div>
                    <div class="inner__list__mob__right">
                        <div class="price">59.790 RUB</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Статус</div>
                    <div class="inner__list__mob__right">
                        <div class="status">Закрыто</div>
                    </div>
                </div>
            </div>
            <a href="" class="inner__list__mob__item">
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Сервер</div>
                    <div class="inner__list__mob__right">Sheyeed</div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Описание</div>
                    <div class="inner__list__mob__right">
                        <div class="des">Страж теней, 109 уровень <span>(подробности в описании)</span></div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Наличие</div>
                    <div class="inner__list__mob__right">
                        280
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Цена</div>
                    <div class="inner__list__mob__right">
                        <div class="price">59.790 RUB</div>
                    </div>
                </div>
                <div class="inner__list__mob__row">
                    <div class="inner__list__mob__left">Статус</div>
                    <div class="inner__list__mob__right">
                        <div class="status">Открыто</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить предложения</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class='my-select'>
                <select class="select">
                    <option>Сервер</option>
                    <option>Сервер 2</option>
                    <option>Сервер 3</option>
                </select>
            </div>
            <div class='my-select'>
                <select class="select">
                    <option>Категория</option>
                    <option>Категория 2</option>
                    <option>Категория 3</option>
                </select>
            </div>
            <div class='my-select'>
                <select class="select">
                    <option>Ранг</option>
                    <option>Ранг 2</option>
                    <option>Ранг 3</option>
                </select>
            </div>
            <input class="input" placeholder="Название">
            <div class="input__label">
                <input class="input" placeholder="Цена за 1 шт">
                <div class="input__label-text">₽</div>
            </div>
            <div class="input__label">
                <input class="input" placeholder="Наличие">
                <div class="input__label-text">шт.</div>
            </div>
            <label class="checkbox">
                <input type="checkbox" checked="">
                <span></span>
               Активные предложения
            </label>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-g btn-after">Сохранить пароль</button>
        </div>
      </div>
    </div>
  </div>