<div class="content-page">
    <div class="offers__top">
        <h1>Кошельки</h1>
    </div>
    <div class="offers__back">
        <a href="">‹ Главная страница</a>
    </div>

    <div class='wallet'>
        <div class="wallet__row">
            <div class="wallet__left">
                <div class="wallet__t">Ваши кошельки</div>
                <div class="wallet__list">
                    <div class="wallet__list__row">
                        <div class="wallet__row__img" style="background-image: url(./img/wallets/qivi.png);"></div>
                        <div class="wallet__row__name">Qiwi Wallet</div>
                        <div class="wallet__row__numb">+79270001294</div>
                        <div class="wallet__row__btn">
                            <button class="btn btn-delete">Удалить</button>
                        </div>
                    </div>
                    <div class="wallet__list__row">
                        <div class="wallet__row__img" style="background-image: url(./img/wallets/qivi.png);"></div>
                        <div class="wallet__row__name">Qiwi Wallet</div>
                        <div class="wallet__row__numb">+79270001294</div>
                        <div class="wallet__row__btn">
                            <button class="btn btn-delete">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wallet__right">
                <div class="wallet__t">Добавить кошелек</div>
                <div class="wallet__add">
                    <div class="my-select not-border">
                        <select class="select">
                            <option disabled selected>Выберите платежную систему</option>
                            <option>Система 1</option>
                            <option>Система 2</option>
                            <option>Система 3</option>
                        </select>
                    </div>
                    <input class="input" placeholder="Введите данные">
                </div>
                <div class="wallet__add__btn">
                    <button type="button" class="btn btn-g btn-after">Сохранить кошелёк</button>
                </div>
            </div>
        </div>
    </div>
</div>