@import 'vars';
html,body{
    height: 100%;
    font-family: var(--font);
    font-size: 16px;
}
.app{
    background-image: url('../img/bg.png');
    background-color: #f0eeef;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: #222222;
}
.app.not-decor{
    background-image: none;
}
.main{
    flex: 1;
}
.app.dark-theme{
    background-image: url('../img/bg-d.png');
    background-color: #292628;
}
.app.not-decor.dark-theme{
    background-image: none;
}
.container-xxl{
    padding-right: 20px;
    padding-left: 20px;
}
@media(min-width: 768px){
    .container-xxl{
        padding-right: 36px;
        padding-left: 36px;
    }
}

@media(min-width: 992px){
    .container-xxl{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.main{
    padding-top: 120px;
}
@media(max-width: 991px){
    .app{
        background-image: none;
        background-color: #f0eeef;
    }
    .app.dark-theme{
        background-image:none;
        background-color: #292628;
    }
}
@media(max-width: 767px){
    .main{
        padding-top: 70px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}
.btn{
    font-weight: bold;
}
.offers__top__name{
    color: #3cbb80;
}
@import "./components/header";
@import "./components/index";
@import "./components/footer";

// Страницы
@import "./components/inner";
@import "./components/auth";
@import "./components/offers";
@import "./components/wallets";
@import "./components/confirm";
@import "./components/finance";
@import "./components/profile";
@import "./components/my-orders";
@import "./components/mess";
@import "./components/order.scss";
